.canvas{
	max-height: 180px;
	max-width:100%;
	border-radius: 20px;
	margin: 0 auto;
}
.chartContainer{
	height: 180px;
	border-radius: 20px;
	border: 1px solid rgba(188, 226, 235, 1);
	background-color: rgba(188, 226, 235, 0.3);
	font-size: 15px;

}