* {
	box-sizing: border-box;
}

body{
	font-size:20px;
	margin: 0;
}

.all-container {
	display: flex;
	height: 100%;

	width: 100%;
}
.right-container {
	position: absolute;
	right: 0;
}
.left-container {
	background-color: rgba(217, 217, 217, 0.2);
	
}
.left-grid {
	display: grid;
	width: 500px;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: 100px;
	row-gap: 20px;
	column-gap: 20px;

	margin-top: 70px;
	margin-left: 20px;
	margin-right: 20px;
}
.big-box {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 5;
	background-color: rgba(188, 226, 235, 0.8);
	border-radius: 15px;
	box-shadow: 0 4px 8px rgba(0,0,0,0.1);
	padding: 90px;

}
.website-name {
	position: absolute;
	top: 0;
	left: 20px;
	margin-top: 25px;

	font-family: 'Noto Sans TC', sans-serif;
    font-size: 35px;
    font-weight: 700;
	color: #666666;
}
/*城市名+時間*/
.city-and-time {
	display: flex;
	justify-content: space-between;


}
.city-name {
	font-family: 'Noto Sans TC', sans-serif;
    font-size: 40px;
    font-weight: 300;
    color:#666666
}
.time {
	font-family: 'Noto Sans TC', sans-serif;
    font-size: 40px;
    font-weight: 300;
    color:#666666;	
}
/*日期+舒適度*/
.date-and-feel {
	display: flex;
	justify-content: space-between;
	position: relative;
}
.date {
	font-family: 'Noto Sans TC', sans-serif;
    font-size: 16px;
    font-weight: 100;
    color:#666666
}
.city-temp-feel {
	font-family: 'Noto Sans TC', sans-serif;
    font-size: 16px;
    font-weight: 100;
    color:#666666;	
	position: absolute;
	left: 150px;
	
}
/*均溫+示意圖*/
.average-temperature-content {
	display: flex;
	justify-content: space-between;
	position: relative;
}
.major-sun-icon {
	height: 75px;
	width: 75px;
	position: absolute;
	bottom: 30px;
}
.real-time-sun {

}
.temp-value {
	font-family: 'Noto Sans TC', sans-serif;
    font-size: 160px;
    font-weight: 100;
    color:#666666
}
.temp-unit {
	font-family: 'Noto Sans TC', sans-serif;
    font-size: 40px;
    font-weight: 500;
    color:#666666
}

/*天氣描述+最高最低溫*/
.temperature-description {
	font-family: 'Noto Sans TC', sans-serif;
    font-size: 16px;
    font-weight: 100;
    color:#666666
}
.temperature-range {
	font-family: 'Noto Sans TC', sans-serif;
    font-size: 16px;
    font-weight: 100;
    color:#666666
}



/*小方格 = 降雨機率+紫外線指數*/
.small-box {
	background-color: rgba(188, 226, 235, 0.8);
	grid-row-start: 5;
	grid-row-end: 7;
	border-radius: 15px;
	box-shadow: 0 4px 8px rgba(0,0,0,0.1);

	padding: 25px;
	position: relative;

}
#rainfall-rate-box {
    display: flex;
    flex-direction: column;
	justify-content: space-between;
}
#UV-rays-box {
    display: flex;
    flex-direction: column;
	justify-content: space-between;
}
.small-box-title {
	font-family: 'Noto Sans TC', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color:#666666
}
.rain-drop-icon {
	height: 100px;
	width: 100px;
	align-self: flex-end;
	position: absolute;
	top: 20px;
	right: 10px;
}
.sun-light-icon {
	height: 100px;
	width: 100px;
	align-self: flex-end;
	position: absolute;
	top: 15px;
	right: 10px;

}
.value{
	font-family: 'Noto Sans TC', sans-serif;
    font-size: 48px;
    font-weight: 400;
    color:#666666;
	bottom: auto;
}





.long-box-1 {
	background-color: rgba(188, 226, 235, 0.8);
	grid-column-start: 1;
	grid-column-end: 3;


	grid-row-start: 7;
	grid-row-end: 9;
	border-radius: 15px;
	box-shadow: 0 4px 8px rgba(0,0,0,0.1);

}
.long-box-2 {
	background-color: rgba(188, 226, 235, 0.8);
	grid-column-start: 1;
	grid-column-end: 3;

	grid-row-start: 9;
	grid-row-end: 11;
	border-radius: 15px;
	box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.long-box-3 {
	background-color: rgba(188, 226, 235, 0.8);
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 11;
	grid-row-end: 13;
	border-radius: 15px;
	box-shadow: 0 4px 8px rgba(0,0,0,0.1);

}
