body{
	font-size:20px;
	margin: 0;
}

.all-container {
	display: flex;
	height: 100%;
	width: 100%;
	justify-content: space-between;
}

/* .right-container { */
	/*position: absolute;
	right: 400px;*/
/* } */

.left-grid {
	display: grid;
	width: 500px;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: 100px;
	row-gap: 20px;
	column-gap: 20px;
	margin-top: 70px;
	margin-left: 20px;
	margin-right: 20px;
}

.big-box {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 5;
	background-color: rgba(188, 226, 235, 0.8);
	border-radius: 15px;
	box-shadow: 0 4px 8px rgba(0,0,0,0.1);
	padding: 90px;
}

.website-name {
	position: absolute;
	top: 0;
	left: 20px;
	margin-top: 25px;

	font-family: 'Noto Sans TC', sans-serif;
    font-size: 35px;
    font-weight: 700;
	color: #666666;
}
/*城市名+時間*/
.city-and-time {
	display: flex;
	justify-content: space-between;

}
.city-name {
	font-family: 'Noto Sans TC', sans-serif;
    font-size: 40px;
    font-weight: 300;
    color:#666666
}
.time {
	font-family: 'Noto Sans TC', sans-serif;
    font-size: 40px;
    font-weight: 300;
    color:#666666;	
}
/*日期+舒適度*/
.date-and-feel {
	display: flex;
	justify-content: space-between;
	position: relative;
}
.date {
	font-family: 'Noto Sans TC', sans-serif;
    font-size: 16px;
    font-weight: 100;
    color:#666666
}
.city-temp-feel {
	font-family: 'Noto Sans TC', sans-serif;
    font-size: 16px;
    font-weight: 100;
    color:#666666;	
	position: relative;
	left: 150px;
	left: 0;
}
/*均溫+示意圖*/
.average-temperature-content {
	display: flex;
	justify-content: space-between;
	position: relative;
}

.detail-wrapper {
	display: flex;
	justify-content: space-between;
}
.major-sun-icon {
	height: 75px;
	width: 75px;
	bottom: 30px;
}
.description-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.temp-value {
	font-family: 'Noto Sans TC', sans-serif;
    font-size: 140px;
    font-weight: 100;
    color:#666666
}
.temp-unit {
	font-family: 'Noto Sans TC', sans-serif;
    font-size: 40px;
    font-weight: 500;
    color:#666666
}

/*天氣描述+最高最低溫*/
.temperature-description {
	font-family: 'Noto Sans TC', sans-serif;
    font-size: 16px;
    font-weight: 100;
    color:#666666
}
.temperature-range {
	font-family: 'Noto Sans TC', sans-serif;
    font-size: 16px;
    font-weight: 100;
    color:#666666
}



/*小方格 = 降雨機率+紫外線指數*/
.small-box {
	background-color: rgba(188, 226, 235, 0.8);
	grid-row-start: 5;
	grid-row-end: 7;
	border-radius: 15px;
	box-shadow: 0 4px 8px rgba(0,0,0,0.1);

	padding: 25px;
	position: relative;

}
#rainfall-rate-box {
    display: flex;
    flex-direction: column;
	justify-content: space-between;
}
#UV-rays-box {
    display: flex;
    flex-direction: column;
	justify-content: space-between;
}
.small-box-title {
	font-family: 'Noto Sans TC', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color:#666666
}
.rain-drop-icon {
	height: 100px;
	width: 100px;
	align-self: flex-end;
	position: absolute;
	top: 20px;
	right: 10px;
}
.sun-light-icon {
	height: 100px;
	width: 100px;
	align-self: flex-end;
	position: absolute;
	top: 15px;
	right: 10px;
}
.value{
	font-family: 'Noto Sans TC', sans-serif;
    font-size: 48px;
    font-weight: 400;
    color:#666666;
	bottom: auto;
}




.long-box-1 {
	background-color: rgba(188, 226, 235, 0.8);
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 7;
	grid-row-end: 9;
	border-radius: 15px;
	box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.long-box-2 {
	background-color: rgba(188, 226, 235, 0.8);
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 9;
	grid-row-end: 11;
	border-radius: 15px;
	box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.long-box-3 {
	background-color: rgba(188, 226, 235, 0.8);
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 11;
	grid-row-end: 13;
	border-radius: 15px;
	box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}





.footer {
    width: 100%;
    height: 104px;
}
.f-wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #666666;
}
.f-text-bold {
	margin-top: 10px;

	font-family: 'Noto Sans TC', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 13.3px;
}
.f-text {
	margin-top: 10px;

	font-family: 'Noto Sans TC', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 13.3px;
}



/*RWD*/
@media (max-width: 1200px){
	.all-container{
		flex-direction: column-reverse;
		align-items: center;
	}
	/*.right-container{
		position: relative;
		right: 0;
	}*/
	.city-temp-feel{
		position: relative;
		left: 0;
	}
}

@media (max-width: 900px){
	.right-container{
		width: 100%;
	}	
	.left-grid{
		width: 500px;
		margin-top: 20px;
	}
	#svg-container{
		width: 100%;
		display: flex;
		justify-content: center;
		margin-top: 80px;
	}
	#svg-container svg{
		width: 500px;
		height: auto;
		margin: 0 auto;
	}
	.time{
		display: flex;
		align-items: end;
	}
	.city-temp-feel{
		position: relative;
		left: 0;
	}
}

@media (max-width: 600px){
	.right-container{
		width: 100%;
	}	
	.left-grid{
		width: 400px;
		margin-top: 20px;
	}
	#svg-container{
		width: 100%;
		display: flex;
		justify-content: center;
		margin-top: 80px;
	}
	#svg-container svg{
		width: 400px;
		height: auto;
		margin: 0 auto;
	}
	.sun-light-icon{
		height: 50px;
		width: 50px;
	}
	.rain-drop-icon{
		height: 50px;
		width: 50px;
	}
	.major-sun-icon{
		height: 50px;
		width: 50px;
	}
	.temp-value{
		font-size: 100px;
	}
	.temp-unit{
		font-size: 30px;
	}
	.city-name{
		font-size: 30px;
	}
	.time{
		font-size: 30px;
		display: flex;
		align-items: end;
	}
	.city-temp-feel{
		position: relative;
		left: 0;
	}
	.average-temperature-content{
		justify-content: center;
		padding-top: 20px;
	}
	.big-box{
		padding-top: 90px;
		padding-left: 40px;
		padding-right: 40px;
	}
}

@media (max-width: 460px){
	.big-box{
		padding-top: 90px;
		padding-left: 20px;
		padding-right: 20px;
	}
	.left-grid{
		width: 300px;
		margin-top: 20px;
		row-gap: 10px;
		column-gap: 10px;
	}
	#svg-container svg{
		width: 320px;
		height: auto;
		margin: 0 auto;
	}
	.sun-light-icon{
		display: none;
	}
	.rain-drop-icon{
		display: none;
	}
	.city-name{
		font-size: 30px;
	}
	.time{
		font-size: 30px;
		display: flex;
		align-items: end;
	}
	.average-temperature-content{
		justify-content: center;
		padding-top: 20px;
	}
	.city-temp-feel{
		position: relative;
		left: 0;
	}
	.detail-wrapper{
		padding-top: 10px;
	}
	.small-box-title{
		font-size: 18px;
	}
}





