
#svg-container {
    position: relative;
  }

svg{
    fill:white;
    height: 100vh;
}

path{
    stroke:#6cc6db;
    stroke-width: 1px;
    transition:0.5s; 
    cursor:pointer;
}

path:hover,
g:hover path {
    fill: #FFFDBB;
    stroke:3px; 
    transform: translate(-5px, -5px);
}

.highlight {
    fill: #FFFDBB;
    transform: translate(-5px, -5px);
}


  
.tooltip {
  position: absolute;
  background-color: #6cc6db;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  display: none;
  pointer-events: none;
  z-index: 10;
}
  